*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
2022-12-15 - Final Project/src/Scene_Editor.cpp
2022-12-15 - Final Project/bin/sfmlgame
.vscode/settings.json
